<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Contacts list</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="login-page-content" color="light" [fullscreen]="true" [scrollY]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Contacts</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" size="small" *ngIf="isListItemSelected()" (click)="selectedContacts()">
          <ion-icon name="add-outline"></ion-icon> Delete
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <ion-searchbar></ion-searchbar>
  <div class="ion-padding btn-div-53543543" *ngIf="!isListItemSelected()">
    <ion-note>
      Selection of contact is used to send invite to your contacts, you can add or import contact from phone book as
      well.
    </ion-note>
  </div>
  <ion-list [inset]="true">
    <ion-item *ngFor="let item of list | filterList : ['name'] : search" lines="none" [color]="setItemColor(item)">
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.dial_code}}{{item.phone_number}}</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.checked" (ionChange)="updateSelectedItems(item)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" slot="fixed" horizontal="end">
    <ion-fab-button (click)="openAddContacts()">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>