<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Contacts list</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="login-page-content" color="light" [fullscreen]="true" [scrollY]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Contacts list</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-searchbar></ion-searchbar>


  <ion-list [inset]="true" class="list-main-home">
    <ion-item class="ion-bo-border" *ngFor="let item of list | filterList : ['name'] : search" detail="true" lines="none">
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.dial_code}}{{item.phone_number}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" slot="fixed" horizontal="end">
    <ion-fab-button (click)="openAddContacts()">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
