.phone-input-outer {

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    // border: 1px solid var(--ion-color-primary);
    // border-radius: 50px;
    // padding: 0px 8px;
    .pi-box {
      width: calc(100% / 10);
      height: 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        height: 100%;
        text-align: center;
        background: transparent;
        border: none;
        font-weight: bold;
        border-bottom: 1px solid var(--ion-color-primary);

      }

      input:focus {
        outline: none;
      }
    }
  }
}
