
<ion-header class="global-header ion-no-border">
  <ion-toolbar >
    <ion-title>
      Countries
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" class="search-box-235553"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content-bg">

  <ion-list style="background: transparent">
    <ion-item *ngFor="let item of list" (click)="selection(item)" style="--background: transparent">
      <div class="flag-item-li">
        <span class="fi fi-{{item.code | lowercase}}"></span>
        <div>{{item.dial_code}}</div>
        <div>{{item.name}}</div>
      </div>

    </ion-item>

  </ion-list>


</ion-content>
