.input-box-outer {
    position: relative;
    width: 100%;
    height: 86px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
    display: flex;
    padding: 16px 16px;
    flex-direction: row;
    align-items: center;
}