<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resident</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let resident of user">
      <ion-item  (click)="openResidentDetails(resident)" *ngIf="resident.role_id !== 8">
        <ion-label>
          <h2>{{ resident.name }}</h2>
          <p>{{ resident.address }}</p>
        </ion-label>
        <ion-buttons>
          <app-action-sheet [options]="Options"></app-action-sheet>
        </ion-buttons>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
