<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resident</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ng-container *ngFor="let resident of user">
      <ion-item *ngIf="resident.role_id !== 8">
        <ion-label>

          <h2>
            {{ resident.name }}
          </h2>
          <p>{{ resident.address }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="openPopover($event)">
            <ion-icon name="menu"></ion-icon>

          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>
  </ion-card>
</ion-content>
