<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Add Contact</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login-page-content" color="light" [fullscreen]="true" [scrollY]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Add Contact</ion-title>
      <app-country-selection-box (dialCodeSelected)="onDialCodeSelected($event)"></app-country-selection-box>
    </ion-toolbar>
  </ion-header>

  <div class="form-body-outer ion-padding">

    <app-input-box  (valueChanged)="result($event, 'name')"  placeholder="Name" type="text" ></app-input-box>
    <app-input-box  (valueChanged)="result($event, 'phone_number')"  placeholder="Phone Number" type="Number" ></app-input-box>

    <ion-button shape="round" expand="full" color="primary" type="submit" (click)="save()">
      <span *ngIf="!isLoading">Save</span>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </ion-button>


  </div>












</ion-content>
