<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Public space</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="secondary">
    <ion-card-header class="card-header-688768">
      <div>
        <ion-card-subtitle class="ion-text-uppercase"
          >concept</ion-card-subtitle
        >
        <ion-card-title class="tl-67896">Public space</ion-card-title>
      </div>
      <div class="card-header-right">
        <div class="heading-7856758"></div>
        <ion-icon name="cube-outline"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content>Description</ion-card-content>
    <ion-button
      class="ion-padding"
      (click)="SendRequest()"
      fill="clear"
      color="light"
      details="true"
      >Send request</ion-button
    >
  </ion-card>
</ion-content>
