<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{user?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="form-body-outer">
    <div class="hb-with-flag">
      <h2>Profile with Phone</h2>
      <app-country-selection-box (dialCodeSelected)="onDialCodeSelected($event)"></app-country-selection-box>
    </div>

    <app-phone-input [phone]="user?.phone_number" (valueChanged)="result($event, 'phone_number')"></app-phone-input>

    <!-- <app-input-box  (valueChanged)="result($event, 'phone_number')"  placeholder="Phone Number"type="Number" ></app-input-box> -->
    <!-- <app-input-box (valueChanged)="result($event, 'password')"  placeholder="Password" type="password"></app-input-box> -->



  </div>


</ion-content>
