.card-header-688768 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .card-header-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;

    .heading-7856758 {
      font-size: 40px;
    }

    ion-icon {
      font-size: 45px;
    }
  }

  ion-card-subtitle {
    font-size: 12px;
  }

  .tl-67896 {
    font-size: 35px;
  }
}


.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}