<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Received Invites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
    <ion-card-header class="card-header-688768">
      <div>
        <ion-card-subtitle class="ion-text-uppercase">secure</ion-card-subtitle>
        <ion-card-title class="tl-67896">Invites</ion-card-title>
      </div>
      <div class="card-header-right">
        <div class="heading-7856758"></div>
        <ion-icon name="card-outline"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content> Invites is a concept of your Eventes, like your office, home, workshop your private place or else </ion-card-content>
  </ion-card>
  <ion-list [inset]="true">
    <ion-item>

    </ion-item>
  </ion-list>

</ion-content>
