<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Received Invites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
    <ion-card-header class="card-header-688768">
      <div>
        <ion-card-subtitle class="ion-text-uppercase">secure</ion-card-subtitle>
        <ion-card-title class="tl-67896">Invites</ion-card-title>
      </div>
      <div class="card-header-right">
        <div class="heading-7856758"></div>
        <ion-icon name="card-outline"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content> Invites is a concept of your Eventes, like your office, home, workshop your private place or else
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">


    <ion-item *ngFor="let list of listt" detail="true" (click)="openModal(list)">
      <ion-label>

        <h2>{{list?.comments}}</h2>
        <p><strong>{{list?.name}}</strong></p>
        <p color="medium" class="ion-text-wrap">Valid till: {{ list?.end_date }}!</p>
        <ion-note color="medium">{{list?.date}}</ion-note>
      </ion-label>
    </ion-item>

  </ion-list>
  <ion-tabs>
    <ion-tab-bar slot="invite">
      <ion-tab-button tab="active">
        <ion-icon name="clipboard-outline"></ion-icon>
        Invites
      </ion-tab-button>
      <ion-tab-button tab="invite-received">
        <ion-icon name="archive-outline"></ion-icon>
        Recieved Invites
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>