<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Pass</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="form-body-outer">

    <div class="ion-padding qrcode-div">
      <p>Your Event QR Code will be Generated like this, fill out the details and press submit. Selection is easily
        chaned by tapping options</p>
      <qrcode [qrdata]="'Your data string'" [width]="25" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="highlight ion-padding">
      <h2 (click)="openModal()" class="ion-text-uppercase">{{ title ? title : 'Event Name' }} <ion-icon name="caret-down-outline"></ion-icon></h2>
      <div class="time-box-outer">

        <div class="time-slots">
          <h2>Start Time</h2>
          <div class="left-slot">
            <div class="left-53543">
              <div>2013-01-03</div>
              <div>10:30 AM</div>
            </div>
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>

        <div class="time-slots">
          <h2>End Time</h2>
          <div class="left-slot">
            <div class="left-53543">
              <div>2013-01-03</div>
              <div>10:30 AM</div>
            </div>
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>

      </div>

    </div>

    <h2 class="ion-padding-start ion-padding-end ion-text-uppercase">Your Guest Info</h2>
    <div class="ion-padding-start ion-padding-end">
      <div class="ab-experiment-3543">
        <h3>Visitor Type</h3>
        <div>
          <ion-chip>Friend and Family</ion-chip>
          <ion-chip>Vendors</ion-chip>
          <ion-chip>Delivery</ion-chip>
        </div>

      </div>
    <h3>Pass Type</h3>
    <div>
      <ion-chip>One time </ion-chip>
      <ion-chip>Recurring</ion-chip>
      <ion-chip>Self</ion-chip>
    </div>
    <h3>Pass Validity</h3>
    <div>
      <ion-chip>3 hours</ion-chip>
      <ion-chip>6 Hours</ion-chip>
      <ion-chip>12 Hours</ion-chip>
      <ion-chip>24 Hours</ion-chip>
      <ion-chip>48 Hours</ion-chip>
    </div>
    <h3>Address</h3>
    <app-address></app-address>
    </div>
    <ion-button class="text-transform-non" >Create Pass</ion-button>
  </div>
</ion-content>
