<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Pass</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="form-body-outer">

    <div class="ion-padding qrcode-div">
      <p>Your Event QR Code will be Generated like this, fill out the details and press submit. Selection is easily
        chaned by tapping options</p>
      <qrcode [qrdata]="'Your data string'" [width]="25" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="highlight ion-padding">
      <h2 class="ion-text-uppercase">Event Name <ion-icon name="caret-down-outline"></ion-icon></h2>
      <div class="time-box-outer">

        <div class="time-slots">
          <h2>Start Time</h2>
          <div class="left-slot">
            <div class="left-53543">
              <div>2013-01-03</div>
              <div>10:30 AM</div>
            </div>
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>

        <div class="time-slots">
          <h2>End Time</h2>
          <div class="left-slot">
            <div class="left-53543">
              <div>2013-01-03</div>
              <div>10:30 AM</div>
            </div>
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>

      </div>

    </div>

    <h2 class="ion-padding-start ion-padding-end ion-text-uppercase">Your Guest Info</h2>
    <div class="ion-padding-start ion-padding-end">
      <div class="ab-experiment-3543">
        <h3>Visitor Type</h3>
        <div>
          <ion-chip>Friend and Family</ion-chip>
          <ion-chip>Vendors</ion-chip>
          <ion-chip>Delivery</ion-chip>
        </div>

      </div>
      <h3>Visitor Type</h3>
      <ion-chip>Friend and Family</ion-chip>
      <ion-item lines="none">

      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <ion-radio value="strawberries">Strawberries</ion-radio><br />
        </ion-label>
      </ion-item>
    </div>
    <ion-radio-group value="strawberries">

    </ion-radio-group>

    <app-pass-type></app-pass-type>
    <app-pass-event></app-pass-event>
    <app-visitor-type></app-visitor-type>
    <app-pass-validity></app-pass-validity>
    <app-end-date></app-end-date>
    <app-address></app-address>
    <div class="button">
      <ion-button class="text-transform-non" style="width: 50%">Create Account</ion-button>
    </div>
  </div>
</ion-content>
