<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Pass</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="form-body-outer">
    Fill Details
    <app-pass-date></app-pass-date>
    <app-pass-time></app-pass-time>
    <app-pass-type></app-pass-type>
    <app-pass-event></app-pass-event>
    <app-visitor-type></app-visitor-type>
    <app-pass-validity></app-pass-validity>
    <app-end-date></app-end-date>
    <app-address></app-address>
    <div class="button" >
      <ion-button class="text-transform-non" style="width: 50%">Create Account</ion-button>
    </div>
  </div>
</ion-content>