<ion-split-pane when="lg" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle *ngFor="let item of ['A','B', 'C']">
          <ion-item>{{item}}</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Guard Watch</ion-title>
        <ion-buttons slot="primary">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="list-main-home">
        <ion-item class="ion-bo-border" *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" detail="true" lines="none">
          <ion-label>
            <h2>Event name</h2>
            <p>Pass sent {{item}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="light" (click)="toggleOptions()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">

        <div *ngIf="showOptions" class="fab-options">
          <ion-fab-button (click)="scan()">
            <ion-icon name="scan"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="showPerson()">
            <ion-icon name="person"></ion-icon>
          </ion-fab-button>

        </div>
      </ion-fab-list>
    </ion-fab>

  </div>



</ion-split-pane>
