<ion-header >
  <ion-toolbar color="secondary">
    <ion-title>{{obj.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card color="secondary" *ngIf="obj.id">
    <ion-card-header class="card-header-688768">
      <div>
        <ion-card-subtitle class="ion-text-uppercase">concept</ion-card-subtitle>
        <ion-card-title class="tl-67896">{{obj.title}}</ion-card-title>
      </div>
      <div class="card-header-right">
        <div class="heading-7856758"></div>
        <ion-icon name="cube-outline"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content> {{obj.description}} </ion-card-content>
  </ion-card>
   <ion-card color="light">
    <ion-card-header class="card-header-688768">
      <div>
        <ion-card-subtitle class="ion-text-uppercase">secure</ion-card-subtitle>
        <ion-card-title class="tl-67896">Invites</ion-card-title>
      </div>
      <div class="card-header-right">
        <div class="heading-7856758">{{obj['invite_count']}}</div>
        <ion-icon name="card-outline"></ion-icon>
      </div>

    </ion-card-header>

    <ion-card-content> Invite is a concept of invite your trustees into your boundry, like your friend, co-workers, delivery, office or else </ion-card-content>
    <ion-button fill="clear" color="dark" details="true" ><div class="ion-text-underline" (click)="openInviteList()">View All Invites</div></ion-button>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="card-header-688768">
      <div>
        <ion-card-subtitle class="ion-text-uppercase">secure</ion-card-subtitle>
        <ion-card-title class="tl-67896">Space Admin</ion-card-title>
      </div>
      <div class="card-header-right">
        <div class="heading-7856758">{{obj['invite_count']}}</div>
        <ion-icon name="card-outline"></ion-icon>
      </div>

    </ion-card-header>

    <ion-card-content> Invite is a concept of invite your trustees into your boundry, like your friend, co-workers, delivery, office or else </ion-card-content>
    <ion-button fill="clear" color="dark" details="true" ><div class="ion-text-underline" (click)="openAddContacts()">View All Admins</div>

    </ion-button>
  </ion-card>




</ion-content>
