.layout-outer-43545 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.one-line-animate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 276px;
  height: 2px;
  background: rgba(0, 0, 0, 0.4);
  animation: move-the-line 5s linear infinite;
  transform-origin: center center;
}

@keyframes move-the-line {
  0% {
    transform: translate(-50%, -130px);
  }
  50% {
    transform: translate(-50%, 130px);
  }
  100% {
    transform: translate(-50%, -130px);
  }
}

.card-box-432532{
  img{
    width: 100%;
    object-fit: cover;
  }
}

