// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #051923;
	--ion-color-primary-rgb: 5,25,35;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #04161f;
	--ion-color-primary-tint: #1e3039;

	--ion-color-secondary: #003554;
	--ion-color-secondary-rgb: 0,53,84;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #002f4a;
	--ion-color-secondary-tint: #1a4965;

	--ion-color-tertiary: #006494;
	--ion-color-tertiary-rgb: 0,100,148;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #005882;
	--ion-color-tertiary-tint: #1a749f;

	--ion-color-success: #0582ca;
	--ion-color-success-rgb: 5,130,202;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #0472b2;
	--ion-color-success-tint: #1e8fcf;

	--ion-color-warning: #00a6fb;
	--ion-color-warning-rgb: 0,166,251;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #0092dd;
	--ion-color-warning-tint: #1aaffb;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-light: #E5F7FF;
	--ion-color-light-rgb: 229,247,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cad9e0;
	--ion-color-light-tint: #e8f8ff;

	--ion-color-medium: #004261;
	--ion-color-medium-rgb: 0,66,97;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #003a55;
	--ion-color-medium-tint: #1a5571;

	--ion-color-dark: #004261;
	--ion-color-dark-rgb: 0,66,97;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #003a55;
	--ion-color-dark-tint: #1a5571;

}


html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

