

.hb-with-flag{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-67876-button{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
}

.userpc{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  .forloop{

    width: 60px;
    height: 60px;
    border-radius: 60px;
    img{
      width: 60px;
      height: 60px;
      border-radius: 60px;
    object-fit: cover;
    }
  }



}
