<ion-content class="login-page-content ion-padding" [fullscreen]="true" [scrollY]="true">

  <div class="form-body-outer">
    <div class="hb-with-flag">
      <h2>Add Contacts</h2>
      <app-country-selection-box (dialCodeSelected)="result($event,'dial_code')"></app-country-selection-box>
    </div>

  <app-input-box (valueChanged)="result($event, 'name')" placeholder="name"></app-input-box>
  <app-input-box  (valueChanged)="result($event, 'email')" placeholder="email"></app-input-box>
  <app-input-box (valueChanged)="result($event, 'phone_number')" class="ion-pedding" placeholder="phone number" type="number"></app-input-box>

    <ion-button shape="round" expand="full" color="primary" type="submit" (click)="close()">
      <span>Save</span>
    </ion-button>

  </div>

</ion-content>
