<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content class="login-page-content" color="light" [fullscreen]="true" [scrollY]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{name}}</ion-title>
    </ion-toolbar>
    <ion-title>{{dailCode}} {{phoneNumber}}</ion-title>
    <ion-item>
    </ion-item>
  </ion-header>
  <ion-searchbar></ion-searchbar>
  <div class="ion-padding">
    <ion-note>
      Selection of an event is mandatory to send an invite. This will identify the type of event you are inviting for.
    </ion-note>
  </div>

  <!-- <ion-list [inset]="true">
    <ion-radio-group>
      <ion-item lines="none">
        <ion-label>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </ion-label>
        <ion-radio slot="end" value="{{item.id}}"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </ion-list> -->
</ion-content>