<ion-content>
  <ion-item class="itemp">
    <ion-searchbar class="search-box-235553" [(ngModel)]="search"></ion-searchbar>
  </ion-item>


  <ion-list class="list-main-home">
    <ion-item class="ion-bo-border" *ngFor="let item of contacts| filterList : ['name'] : search" detail="true"
      lines="none">
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.dial_code}}{{item.phone_number}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" slot="fixed" horizontal="end">
    <ion-fab-button (click)="openAddContacts()">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>