<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Pass Detail</ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-padding ion-text-center">
    <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
  <div class="highlight ion-padding">
    <h2 class="ion-text-uppercase">Event Name</h2>
    <div class="time-box-outer">

    </div>
  </div>
  <ion-grid class="highlight">

    <ion-row>
      <ion-col size="12">
        <!-- <ion-icon item-start name="archive"></ion-icon> -->
        <h2 class="text-uppercase">Event Name</h2>
        <!-- <span>validity: {{item.validity}} hours</span> -->
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col class="col-78">
            <!-- | date: 'd MMMM yyyy' -->

            <span>Start Time</span>
            <span class="dt1 text-uppercase">2013-01-03</span>
            <span class="tm1 text-uppercase">10:30 AM</span>
            <ion-icon class="clo1" name="time-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col class="col-78">
            <span>Expires</span>
            <span class="dt1 text-uppercase">2013-01-03</span>
            <span class="tm1 text-uppercase">10:30 AM</span>
            <ion-icon class="clo1" name="time-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
