<ion-header>
  <ion-toolbar color="primary">
    <ion-title>spaces</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-card>
    <ion-card-header class="card-header-688768">
      <div>
        <ion-card-subtitle class="ion-text-uppercase">concept</ion-card-subtitle>
        <ion-card-title class="tl-67896">Spaces</ion-card-title>
      </div>
      <div class="card-header-right">
        <div class="heading-7856758">{{list.length}}</div>
        <ion-icon name="cube-outline"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content> Space is a concept of your boundry, like your office, home, workshop your private place or else
    </ion-card-content>
  </ion-card>
  <ion-list [inset]="true">
    <ion-item lines="none" detail="true" *ngFor="let item of list" (click)="openDetails(item)">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddSpaces()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>