<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Call Resident</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2 class="ion-padding-start ion-padding-end ion-text-uppercase">Select Phone Number to Call</h2>
  <ion-list>
    <ion-item (click)="callUser(user.phone_number)">
      <ion-label>{{ user.phone_number }}</ion-label>
      <ion-icon name="call" slot="end"></ion-icon>
    </ion-item>

    <ion-item (click)="callUser(user.additional_phone1)">
      <ion-label>{{ user.additional_phone1 }}</ion-label>
      <ion-icon name="call" slot="end"></ion-icon>
    </ion-item>

    <ion-item (click)="callUser(user.additional_phone2)">
      <ion-label>{{ user.additional_phone2 }}</ion-label>
      <ion-icon name="call" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
