<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Moderators</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="login-page-content" color="light" [fullscreen]="true" [scrollY]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Moderators</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" size="small" *ngIf="isListItemSelected()" (click)="selectedContacts()">
          <ion-icon name="add-outline"></ion-icon> Delete
        </ion-button>

      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <ion-searchbar></ion-searchbar>
  <div class="ion-padding btn-div-53543543" *ngIf="!isListItemSelected()" >
    <ion-note >
      Selection of contact is used to send invite to your contacts, you can add or import contact from phone book as well.
    </ion-note>

  </div>
  <ion-list [inset]="true">
    <ion-radio-group [(ngModel)]="selectedContactId">
      <ion-item *ngFor="let item of list" lines="none" [color]="setItemColor(item)">
        <ion-label>
          <h2>{{item.contact.name}}</h2>
          <p>{{item.contact.dial_code}} - {{item.contact.phone_number}}</p>
          <p>{{item.role.display_name}}</p>
        </ion-label>
        <ion-radio slot="end" [(ngModel)]="item.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
    </ion-list>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light" (click)="addContact('resident')">
          <ion-icon name="people-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" (click)="addContact('guard')">
          <ion-icon name="people"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>

