

<ion-split-pane when="lg" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list color="light" class="ion-no-padding ion-no-margin ion-margin-top" >
        <ion-menu-toggle *ngFor="let item of menu" (click)="openPage(item.link)">
          <ion-item lines="none" color="light">
            <ion-label>
              <h2>{{item.title}}</h2>
            </ion-label>
            <ion-icon [name]="item.icon" slot="end"></ion-icon>

          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header >
      <ion-toolbar color="primary">
        <ion-title>Dashboard</ion-title>
        <ion-buttons slot="primary">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-card color="primary">
        <ion-card-header class="card-header-688768">
          <div>
            <ion-card-subtitle class="ion-text-uppercase">concept</ion-card-subtitle>
            <ion-card-title class="tl-67896">Spaces</ion-card-title>
          </div>
          <div class="card-header-right">
            <div class="heading-7856758">5</div>
            <ion-icon name="cube-outline"></ion-icon>
          </div>

        </ion-card-header>

        <ion-card-content> Space is a concept of your boundry, like your office, home, workshop your private place or else </ion-card-content>
        <ion-button fill="clear" color="light" details="true" ><div class="ion-text-underline" (click)="openPage('spaces')">View All Spaces</div></ion-button>
      </ion-card>

      <ion-card color="light">
        <ion-card-header class="card-header-688768">
          <div>
            <ion-card-subtitle class="ion-text-uppercase">mutual</ion-card-subtitle>
            <ion-card-title class="tl-67896">Contacts</ion-card-title>
          </div>
          <div class="card-header-right">
            <div class="heading-7856758">205</div>
            <ion-icon name="people-outline"></ion-icon>
          </div>

        </ion-card-header>

        <ion-card-content> Space is a concept of your boundry, like your office, home, workshop your private place or else </ion-card-content>
        <ion-button fill="clear" color="dark" details="true" (click)="goToContects()"><div class="ion-text-underline">View All Spaces</div></ion-button>
      </ion-card>

      <ion-card color="light">
        <ion-card-header class="card-header-688768">
          <div>
            <ion-card-subtitle class="ion-text-uppercase">secure</ion-card-subtitle>
            <ion-card-title class="tl-67896">Invites</ion-card-title>
          </div>
          <div class="card-header-right">
            <div class="heading-7856758">25</div>
            <ion-icon name="card-outline"></ion-icon>
          </div>

        </ion-card-header>

        <ion-card-content> Space is a concept of your boundry, like your office, home, workshop your private place or else </ion-card-content>
        <ion-button fill="clear" color="dark" details="true" ><div class="ion-text-underline">View All Spaces</div></ion-button>
      </ion-card>

      <ion-card color="medium">
        <ion-card-header class="card-header-688768">
          <div>
            <ion-card-subtitle class="ion-text-uppercase">setup</ion-card-subtitle>
            <ion-card-title class="tl-67896">Settings</ion-card-title>
          </div>
          <div class="card-header-right">
            <div class="heading-7856758"></div>
            <ion-icon name="cog-outline"></ion-icon>
          </div>

        </ion-card-header>

        <ion-card-content> Space is a concept of your boundry, like your office, home, workshop your private place or else </ion-card-content>
        <ion-button fill="clear" color="light" details="true" ><div class="ion-text-underline">View All Spaces</div></ion-button>
      </ion-card>




    </ion-content>
    <!-- <ion-footer>
      <div class="tabs-like">
        <div class="box-outer" (click)="openPage('pass')">
          <ion-icon name="card-outline"></ion-icon>
          <div class="title-469845">Passes</div>
        </div>
        <div class="box-outer" (click)="openPage('contact')">
          <ion-icon name="people-outline"></ion-icon>
          <div class="title-469845">Contacts</div>
        </div>
        <div class="box-outer">
          <ion-icon name="cube-outline"></ion-icon>
          <div class="title-469845">Spaces</div>
        </div>
        <div class="box-outer">
          <ion-icon name="cog-outline"></ion-icon>
          <div class="title-469845">Settings</div>
        </div>
      </div>
    </ion-footer> -->


  </div>


  </ion-split-pane>
