<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Passes</ion-title>
    <!-- <ion-buttons slot="primary"> -->
      <div> 
        <ion-select interface="popover">
          <ion-select-option value="apple">Recent Passes</ion-select-option>
        </ion-select>
      </div>
    <!-- </ion-buttons> -->
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="add-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="active">
      <ion-icon name="clipboard-outline"></ion-icon>
      Active
    </ion-tab-button>
    <ion-tab-button tab="archeive">
      <ion-icon name="archive-outline"></ion-icon>
      Archieve
    </ion-tab-button>
    <ion-tab-button tab="sent">
      <ion-icon name="send-outline"></ion-icon>
      Sent
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>